src/main/resources/com/owlcyberdefense/syslog/xsd/common.dfdl.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
Copyright (c) 2017-2020 Owl Cyber Defense. All rights reserved.

Developed by: Owl Cyber Defense (formerly Tresys Technology) LLC
              http://www.owlcyberdefense.com

Permission is hereby granted, free of charge, to any person obtaining a copy of
this software and associated documentation files (the "Software"), to deal with
the Software without restriction, including without limitation the rights to
use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies
of the Software, and to permit persons to whom the Software is furnished to do
so, subject to the following conditions:

 1. Redistributions of source code must retain the above copyright notice,
    this list of conditions and the following disclaimers.

 2. Redistributions in binary form must reproduce the above copyright
    notice, this list of conditions and the following disclaimers in the
    documentation and/or other materials provided with the distribution.

 3. Neither the names of Owl Cyber Defense, nor the names of its contributors
    may be used to endorse or promote products derived from this Software
    without specific prior written permission.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
CONTRIBUTORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS WITH THE
SOFTWARE.
-->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/"
           xmlns:sl="urn:syslog"
           targetNamespace="urn:syslog">

  <xs:annotation>
    <xs:appinfo source="http://www.ogf.org/dfdl/">
      <dfdl:defineFormat name="common">
      <dfdl:format alignment="1" alignmentUnits="bytes"
                   binaryBooleanFalseRep="0" binaryBooleanTrueRep="1"
                   binaryCalendarEpoch="1970-01-01T00:00:00+00:00" binaryCalendarRep="bcd"
                   binaryDecimalVirtualPoint="0" binaryFloatRep="ieee"
                   binaryNumberCheckPolicy="lax" binaryNumberRep="binary"
                   binaryPackedSignCodes="C D F C" calendarCenturyStart="53"
                   calendarCheckPolicy="strict" calendarDaysInFirstWeek="4"
                   calendarFirstDayOfWeek="Monday" calendarLanguage="en-US"
                   calendarObserveDST="yes" calendarPatternKind="explicit"
                   calendarTimeZone="UTC"
                   choiceLengthKind="implicit" decimalSigned="yes"
                   documentFinalTerminatorCanBeMissing="no" emptyValueDelimiterPolicy="none"
                   encoding="iso-8859-1" encodingErrorPolicy="error" escapeSchemeRef=""
                   fillByte="%NUL;" floating="no" ignoreCase="no" initiatedContent="no"
                   initiator="" leadingSkip="0" lengthKind="delimited" lengthUnits="bytes"
                   nilKind="literalValue" nilValueDelimiterPolicy="none" nilValue="-"
                   occursCountKind="implicit" outputNewLine="%CR;%LF;"
                   prefixIncludesPrefixLength="no" representation="text" separator=""
                   separatorPosition="infix" sequenceKind="ordered" terminator=""
                   textBidi="no" textBooleanFalseRep="false" textBooleanJustification="left"
                   textBooleanPadCharacter="%SP;" textBooleanTrueRep="true"
                   textCalendarJustification="left" textCalendarPadCharacter="%SP;"
                   textNumberCheckPolicy="strict" textNumberJustification="right"
                   textNumberPadCharacter="0" textNumberRep="standard"
                   textNumberRoundingIncrement="0.0" textNumberRoundingMode="roundUp"
                   textNumberRounding="pattern" textOutputMinLength="0" textPadKind="none"
                   textStandardBase="10" textStandardDecimalSeparator="."
                   textStandardGroupingSeparator="," textStandardInfinityRep="Inf"
                   textStandardNaNRep="NaN" textStandardZeroRep="" textStandardExponentRep="E"
                   textStringJustification="left" textStringPadCharacter="%SP;"
                   textTrimKind="none" textZonedSignStyle="asciiStandard" trailingSkip="0"
                   truncateSpecifiedLengthString="no" useNilForDefault="no" utf16Width="fixed"
                   separatorSuppressionPolicy="anyEmpty"
                   byteOrder="littleEndian" bitOrder="mostSignificantBitFirst"/>
      </dfdl:defineFormat>
      <dfdl:defineEscapeScheme name="paramValueES">
        <dfdl:escapeScheme escapeKind="escapeBlock" escapeBlockStart="&quot;" escapeBlockEnd="&quot;"
                           escapeEscapeCharacter="\" extraEscapedCharacters="\ ]" generateEscapeBlock="always"/>
      </dfdl:defineEscapeScheme>
      <dfdl:format ref="sl:common"/>
    </xs:appinfo>
  </xs:annotation>

  <xs:simpleType name="PrivalType" dfdl:textNumberPattern="##0" dfdl:initiator="&lt;" dfdl:terminator="&gt;">
    <xs:restriction base="xs:int">
      <xs:minInclusive value="0" />
      <xs:maxInclusive value="191" />
    </xs:restriction>
  </xs:simpleType>

  <xs:group name="SolarwindsSyslogBodyGroup">
    <xs:sequence>
      <xs:element name="OriginalAddress" dfdl:initiator="Original%SP;Address=" dfdl:terminator="%SP;">
        <xs:complexType>
          <xs:sequence dfdl:separator=".">
            <xs:element name="Octet" minOccurs="4" maxOccurs="4" dfdl:occursCountKind="fixed" dfdl:textNumberPattern="##0">
              <xs:simpleType>
                <xs:restriction base="xs:int">
                  <xs:minInclusive value="0" />
                  <xs:maxInclusive value="255" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:choice>
        <xs:element ref="sl:RFC5424" />
        <xs:element ref="sl:RFC3164" />
        <xs:element ref="sl:Cisco" />
        <xs:element ref="sl:ESXi" />
      </xs:choice>
    </xs:sequence>
  </xs:group>

  <xs:group name="rfc5424headerGroup2">
    <xs:sequence>
      <xs:sequence dfdl:separator="%SP;" dfdl:separatorPosition="postfix">
        <xs:element name="Version" type="xs:int" dfdl:textNumberPattern="#0">
          <xs:annotation>
            <xs:appinfo source="http://www.ogf.org/dfdl/">
              <dfdl:discriminator test="{ . eq 1 }" />
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:choice>
          <xs:element name="Timestamp" type="xs:dateTime" dfdl:calendarPattern="yyyy-MM-dd'T'HH:mm:ssXXX" nillable="true" />
          <xs:element name="TimestampNano" type="xs:dateTime" dfdl:calendarPattern="yyyy-MM-dd'T'HH:mm:ss.SSSXXX" nillable="true" />
        </xs:choice>
        <xs:element name="Hostname" nillable="true">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:minLength value="1" />
              <xs:maxLength value="255" />
              <xs:pattern value="[!-~]+" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="AppName" nillable="true">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:minLength value="1" />
              <xs:maxLength value="48" />
              <xs:pattern value="[!-~]+" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="ProcID" nillable="true">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:minLength value="1" />
              <xs:maxLength value="128" />
              <xs:pattern value="[!-~]+" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="MsgID" nillable="true">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:minLength value="1" />
              <xs:maxLength value="32" />
              <xs:pattern value="[!-~]+" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:sequence>
  </xs:group>

  <xs:group name="rfc5424BodyGroup">
    <xs:sequence>
      <xs:choice>
        <!--
        NoStructuredData was an element with length="0" and an initiator="-"
        but that's not portable as IBM DFDL doesn't put that into the infoset.
        So we model this as a length 1 element instead.

        <xs:element name="NoStructuredData" type="xs:string" dfdl:lengthKind="explicit" dfdl:length="1">
          <xs:annotation>
          <xs:appinfo source="http://www.ogf.org/dfdl/">
            <dfdl:assert>{ . eq '-' }</dfdl:assert>
          </xs:appinfo>
          </xs:annotation>
        </xs:element>
        -->
        <xs:sequence dfdl:initiator="-"/>
        <xs:element name="StructuredData">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="SDElement" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence dfdl:initiator="[" dfdl:terminator="]" dfdl:separator="%SP;">
                    <xs:element name="SDID">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1" />
                          <xs:maxLength value="32" />
                          <xs:pattern value="[!-~-[= \]&quot;]]+" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="SDParam" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence dfdl:separator="=">
                          <xs:element name="ParamName">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1" />
                                <xs:maxLength value="32" />
                                <xs:pattern value="[!-~-[= \]&quot;]]+" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="ParamValue" type="xs:string" dfdl:encoding="UTF-8" dfdl:escapeSchemeRef="sl:paramValueES" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:choice>
      <xs:element name="Message" minOccurs="0" dfdl:initiator="%SP;">
        <xs:complexType>
          <xs:choice>
            <xs:element name="UTF8" dfdl:initiator="%#xEF;%#xBB;%#xBF;" type="xs:string" dfdl:encoding="UTF-8" />
            <xs:element name="Any" type="xs:string" dfdl:encoding="US-ASCII" />
          </xs:choice>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>

  <xs:element name="RFC5424" type="sl:SolarwindsRFC5424"/>

  <xs:complexType name="SolarwindsRFC5424">
    <xs:annotation>
      <xs:documentation>
        The parts of RFC5424 Syslog record after the solarwinds-specific fields.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Header">
        <xs:complexType>
          <xs:group ref="sl:rfc5424headerGroup2"/>
        </xs:complexType>
      </xs:element>
      <xs:group ref="sl:rfc5424BodyGroup"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="RFC3164">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Header">
          <xs:complexType>
            <xs:sequence dfdl:separator="%SP;" dfdl:separatorPosition="postfix">
              <xs:element name="TimestampMonth" dfdl:lengthKind="explicit" dfdl:length="3">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="Jan" />
                    <xs:enumeration value="Feb" />
                    <xs:enumeration value="Mar" />
                    <xs:enumeration value="Apr" />
                    <xs:enumeration value="May" />
                    <xs:enumeration value="Jun" />
                    <xs:enumeration value="Jul" />
                    <xs:enumeration value="Aug" />
                    <xs:enumeration value="Sep" />
                    <xs:enumeration value="Oct" />
                    <xs:enumeration value="Nov" />
                    <xs:enumeration value="Dec" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="TimestampDay" dfdl:lengthKind="explicit" dfdl:length="2" dfdl:textNumberPattern="* 00">
                <xs:simpleType>
                  <xs:restriction base="xs:int">
                    <xs:minInclusive value="1" />
                    <xs:maxInclusive value="31" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="TimestampTime" type="xs:time" dfdl:calendarPattern="HH:mm:ss" dfdl:lengthKind="explicit" dfdl:length="8" />
              <xs:element name="Hostname">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:pattern value="[!-~]+" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Message" type="xs:string" dfdl:encoding="UTF-8" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="Cisco">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Header">
          <xs:complexType>
            <xs:sequence dfdl:separator="%SP;" dfdl:separatorPosition="postfix">
              <xs:element name="SequenceNumber" type="xs:int" dfdl:textNumberPattern="0" dfdl:terminator=":" />
              <xs:element name="TimestampMonth" dfdl:lengthKind="explicit" dfdl:length="3">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="Jan" />
                    <xs:enumeration value="Feb" />
                    <xs:enumeration value="Mar" />
                    <xs:enumeration value="Apr" />
                    <xs:enumeration value="May" />
                    <xs:enumeration value="Jun" />
                    <xs:enumeration value="Jul" />
                    <xs:enumeration value="Aug" />
                    <xs:enumeration value="Sep" />
                    <xs:enumeration value="Oct" />
                    <xs:enumeration value="Nov" />
                    <xs:enumeration value="Dec" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="TimestampDay" dfdl:lengthKind="explicit" dfdl:length="2" dfdl:textNumberPattern="* 00">
                <xs:simpleType>
                  <xs:restriction base="xs:int">
                    <xs:minInclusive value="1" />
                    <xs:maxInclusive value="31" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="TimestampTime" type="xs:time" dfdl:calendarPattern="HH:mm:ss" dfdl:lengthKind="explicit" dfdl:length="8" dfdl:terminator=":" />
              <xs:sequence dfdl:initiator="%%" dfdl:separator="-" dfdl:terminator=":">
                <xs:element name="Facility" type="xs:string" />
                <xs:element name="Severity" dfdl:textNumberPattern="0">
                  <xs:simpleType>
                    <xs:restriction base="xs:int">
                      <xs:minInclusive value="0" />
                      <xs:maxInclusive value="7" />
                    </xs:restriction>
                  </xs:simpleType>
                </xs:element>
                <xs:element name="Mnemonic" type="xs:string" />
              </xs:sequence>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Message" type="xs:string" dfdl:encoding="UTF-8" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="ESXi">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Header">
          <xs:complexType>
            <xs:sequence>
              <xs:sequence dfdl:separator="%SP;" dfdl:separatorPosition="postfix">
                <xs:choice>
                  <xs:element name="Timestamp" type="xs:dateTime" dfdl:calendarPattern="yyyy-MM-dd'T'HH:mm:ssXXX" />
                  <xs:element name="TimestampNano" type="xs:dateTime" dfdl:calendarPattern="yyyy-MM-dd'T'HH:mm:ss.SSSXXX" />
                </xs:choice>
                <xs:element name="Hostname">
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:pattern value="[!-~]+" />
                    </xs:restriction>
                  </xs:simpleType>
                </xs:element>
                <xs:element name="AppName" dfdl:terminator=":">
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:pattern value="[!-~]+" />
                    </xs:restriction>
                  </xs:simpleType>
                </xs:element>
              </xs:sequence>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Message" type="xs:string" dfdl:encoding="UTF-8" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
