src/main/resources/com/tresys/syslog/xsd/syslog.dfdl.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
Copyright (c) 2017 Tresys Technology, LLC. All rights reserved.

Developed by: Tresys Technology, LLC
              http://www.tresys.com

Permission is hereby granted, free of charge, to any person obtaining a copy of
this software and associated documentation files (the "Software"), to deal with
the Software without restriction, including without limitation the rights to
use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies
of the Software, and to permit persons to whom the Software is furnished to do
so, subject to the following conditions:

 1. Redistributions of source code must retain the above copyright notice,
    this list of conditions and the following disclaimers.

 2. Redistributions in binary form must reproduce the above copyright
    notice, this list of conditions and the following disclaimers in the
    documentation and/or other materials provided with the distribution.

 3. Neither the names of Tresys Technology, nor the names of its contributors
    may be used to endorse or promote products derived from this Software
    without specific prior written permission.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
CONTRIBUTORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS WITH THE
SOFTWARE.
-->


<!--
Version 1.0  syslog.dfdl.xsd

Change History
1.0: Initial support for RFC-5424

This DFDL schema provides a DFDL model for Syslog Protocol as defined by RFC-5424

The message root is 'Syslog'.
-->


<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/"
           xmlns:sl="urn:syslog:1.0"
           targetNamespace="urn:syslog:1.0">

  <xs:annotation>
    <xs:appinfo source="http://www.ogf.org/dfdl/">

      <dfdl:format alignment="1" alignmentUnits="bytes"
        binaryBooleanFalseRep="0" binaryBooleanTrueRep="1"
        binaryCalendarEpoch="1970-01-01T00:00:00+00:00" binaryCalendarRep="bcd"
        binaryDecimalVirtualPoint="0" binaryFloatRep="ieee"
        binaryNumberCheckPolicy="lax" binaryNumberRep="binary"
        binaryPackedSignCodes="C D F C" calendarCenturyStart="53"
        calendarCheckPolicy="strict" calendarDaysInFirstWeek="4"
        calendarFirstDayOfWeek="Monday" calendarLanguage="en-US"
        calendarObserveDST="yes" calendarPatternKind="explicit"
        calendarTimeZone="UTC"
        choiceLengthKind="implicit" decimalSigned="yes"
        documentFinalTerminatorCanBeMissing="no" emptyValueDelimiterPolicy="none"
        encoding="US-ASCII" encodingErrorPolicy="replace" escapeSchemeRef=""
        fillByte="%NUL;" floating="no" ignoreCase="no" initiatedContent="no"
        initiator="" leadingSkip="0" lengthKind="delimited" lengthUnits="bits"
        nilKind="literalValue" nilValueDelimiterPolicy="none" nilValue="-"
        occursCountKind="implicit" outputNewLine="%CR;%LF;"
        prefixIncludesPrefixLength="no" representation="text" separator=""
        separatorPosition="infix" sequenceKind="ordered" terminator=""
        textBidi="no" textBooleanFalseRep="false" textBooleanJustification="left"
        textBooleanPadCharacter="%SP;" textBooleanTrueRep="true"
        textCalendarJustification="left" textCalendarPadCharacter="%SP;"
        textNumberCheckPolicy="strict" textNumberJustification="right"
        textNumberPadCharacter="0" textNumberRep="standard"
        textNumberRoundingIncrement="0.0" textNumberRoundingMode="roundUp"
        textNumberRounding="pattern" textOutputMinLength="0" textPadKind="none"
        textStandardBase="10" textStandardDecimalSeparator="."
        textStandardGroupingSeparator="," textStandardInfinityRep="Inf"
        textStandardNaNRep="NaN" textStandardZeroRep="" textStandardExponentRep="E"
        textStringJustification="left" textStringPadCharacter="%SP;"
        textTrimKind="none" textZonedSignStyle="asciiStandard" trailingSkip="0"
        truncateSpecifiedLengthString="no" useNilForDefault="no" utf16Width="fixed"
        separatorSuppressionPolicy="anyEmpty"
        byteOrder="littleEndian" bitOrder="mostSignificantBitFirst"/>

      <dfdl:defineEscapeScheme name="paramValueES">
        <dfdl:escapeScheme escapeKind="escapeBlock" escapeBlockStart="&quot;" escapeBlockEnd="&quot;"
          escapeEscapeCharacter="\" extraEscapedCharacters="\ ]" generateEscapeBlock="always"/>
      </dfdl:defineEscapeScheme>
    </xs:appinfo>
  </xs:annotation>

  <xs:group name="Prival_hg">
    <xs:sequence>
      <xs:element name="Prival" dfdl:textNumberPattern="##0" dfdl:initiator="&lt;" dfdl:terminator="&gt;" dfdl:outputValueCalc="{ ../Facility * 8 + ../Severity }">
        <xs:simpleType>
          <xs:restriction base="xs:int">
            <xs:minInclusive value="0" />
            <xs:maxInclusive value="191" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:group>

  <xs:element name="Syslog">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Header">
          <xs:complexType>
            <xs:sequence>
              <xs:sequence dfdl:hiddenGroupRef="sl:Prival_hg" />
              <xs:element name="Facility" dfdl:inputValueCalc="{ ../Prival idiv 8 }">
                <xs:simpleType>
                  <xs:restriction base="xs:int">
                    <xs:minInclusive value="0" />
                    <xs:maxInclusive value="23" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="Severity" dfdl:inputValueCalc="{ ../Prival mod 8 }">
                <xs:simpleType>
                  <xs:restriction base="xs:int">
                    <xs:minInclusive value="0" />
                    <xs:maxInclusive value="7" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:sequence dfdl:separator="%SP;" dfdl:separatorPosition="postfix">
                <xs:element name="Version" dfdl:textNumberPattern="#0">
                  <xs:simpleType>
                    <xs:restriction base="xs:int">
                      <xs:enumeration value="1" />
                    </xs:restriction>
                  </xs:simpleType>
                </xs:element>
                <xs:choice>
                  <xs:element name="Timestamp" type="xs:dateTime" dfdl:calendarPattern="yyyy-MM-dd'T'HH:mm:ssZZZZZ" nillable="true" />
                  <xs:element name="TimestampNano" type="xs:dateTime" dfdl:calendarPattern="yyyy-MM-dd'T'HH:mm:ss.SSSSSSZZZZZ" nillable="true" />
                </xs:choice>
                <xs:element name="Hostname" nillable="true">
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:minLength value="1" />
                      <xs:maxLength value="255" />
                      <xs:pattern value="[!-~]+" />
                    </xs:restriction>
                  </xs:simpleType>
                </xs:element>
                <xs:element name="AppName" nillable="true">
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:minLength value="1" />
                      <xs:maxLength value="48" />
                      <xs:pattern value="[!-~]+" />
                    </xs:restriction>
                  </xs:simpleType>
                </xs:element>
                <xs:element name="ProcID" nillable="true">
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:minLength value="1" />
                      <xs:maxLength value="128" />
                      <xs:pattern value="[!-~]+" />
                    </xs:restriction>
                  </xs:simpleType>
                </xs:element>
                <xs:element name="MsgID" nillable="true">
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:minLength value="1" />
                      <xs:maxLength value="32" />
                      <xs:pattern value="[!-~]+" />
                    </xs:restriction>
                  </xs:simpleType>
                </xs:element>
              </xs:sequence>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:choice>
          <xs:element name="NoStructuredData" type="xs:string" dfdl:initiator="-" dfdl:lengthKind="explicit" dfdl:length="0" />
          <xs:element name="StructuredData">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="SDElement" maxOccurs="unbounded">
                  <xs:complexType>
                    <xs:sequence dfdl:initiator="[" dfdl:terminator="]" dfdl:separator="%SP;">
                      <xs:element name="SDID">
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                            <xs:minLength value="1" />
                            <xs:maxLength value="32" />
                            <xs:pattern value="[!-~-[= \]&quot;]]+" />
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:element>
                      <xs:element name="SDParam" minOccurs="0" maxOccurs="unbounded">
                        <xs:complexType>
                          <xs:sequence dfdl:separator="=">
                            <xs:element name="ParamName">
                              <xs:simpleType>
                                <xs:restriction base="xs:string">
                                  <xs:minLength value="1" />
                                  <xs:maxLength value="32" />
                                  <xs:pattern value="[!-~-[= \]&quot;]]+" />
                                </xs:restriction>
                              </xs:simpleType>
                            </xs:element>
                            <xs:element name="ParamValue" type="xs:string" dfdl:encoding="UTF-8" dfdl:escapeSchemeRef="sl:paramValueES" />
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:choice>
        <xs:element name="Message" minOccurs="0" dfdl:initiator="%SP;">
          <xs:complexType>
            <xs:choice>
              <xs:element name="UTF8" dfdl:initiator="%#xEF;%#xBB;%#xBF;" type="xs:string" dfdl:encoding="UTF-8" />
              <xs:element name="Any" type="xs:string" dfdl:encoding="US-ASCII" />
            </xs:choice>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
